.site-header {
    font-family: comfortaa, sans-serif;
    background-color: #F9FAFF;
    padding: 1rem 2rem;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    color: #25282B;
    font-size: 1.125rem;
    text-decoration: none;
}

.nav-list {
    /* background-color: #FDC435; */
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: #25282B;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #FDC435;
}
