.hero-banner-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
    background-color: #F9FAFF;
    padding: 5rem 1rem 2rem 1rem;
    text-align: left;
    min-height: 500px;
    position: relative;        /* Needed for absolute child positioning */
}

.about-section {
    flex-direction: row-reverse;
}

.about-section .hero-banner-image {
    right: auto;
    left: 0;
    background-position: left top;
}

.hero-banner-content {
    width: 50%;
}

.hero-banner-content h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #FDC435;
}

.hero-banner-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #25282B;
    line-height: 1.2;
}

.hero-banner-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #828282;
}

.hero-banner-content .btn {
    display: inline-block;
    padding: 0.3em 1.5em;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.hero-banner-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: calc(100% + 4rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 5;
}

#button1 {
    background-color: #FDC435;
    color: #25282B;
    border: 2px solid #FDC435;
    margin-right: 0.375rem;        /* Gap between buttons */
}

#button2 {
    background-color: #F9FAFF;
    color: #25282B;
    border: 2px solid #25282B;
}   