.section-title {
    text-align: center;
    margin: 2.5rem 0;
}

.section-title .heading {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-title .heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 3px;
    background-color: #FDC435;
    border-radius: 2px;
}

.section-title .heading {
    font-size: 3rem;
    margin: 0;
    color: #25282B;
}

.section-title .subtitle {
    font-size: 1.125rem;
    color: #25282B;
    margin-top: 10px;
}

