<div class="hero-banner-container">
  <div class="hero-banner-content">
    <p>AEM Developer</p>
    <h1>Hello,  my name is Madelyn Torff</h1>
    <p>Short text with details about you, what you do or your professional career. You can add more information on the about page.</p>
    <button>Projects</button>
    <button>LinkedIn</button>
  </div>
  <div class="hero-banner-image">
    <img src="/content/aakash-portfolio/assets/images/hero-banner-image.png" width="720" height="629" alt="Hero Image"/>
  </div>
</div>