<div class="hero-banner-container">
  <link rel="stylesheet" href="/apps/aakash-portfolio/clientlibs/clientlib-site/css/hero.css"/>        
  <div class="hero-banner-content">
    <h2>AEM Developer</h2>
    <h1>Hello,  my name <br/> is Aakash Baskaran</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum at qui eos culpa, quibusdam consequuntur sunt error explicabo voluptate laboriosam.</p>
    <button id="projects_button">Projects</button>
    <button id="linkedin_button">LinkedIn</button>
  </div>
  <div class="hero-banner-image" role="img" aria-label="Hero Image"></div>
</div>